<meta charset="UTF-8">
<title>Tiny App</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="icon" href="/public/images/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/e4e4ce7585.js" crossorigin="anonymous"></script>
<style>
  body { padding-top:50px; }
</style>