<nav class="navbar navbar-expand-lg navbar-dark" style="border-radius: 5px; background-image: linear-gradient(to bottom right, rgb(96, 2, 96), rgb(255, 0, 157));">
  <a class="navbar-brand" href="/"><img src="/public/images/favicon.ico" width="40" height="40"> Tiny App</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/urls">URLs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <% if (username !== "default") { %>
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <strong><%= username %> </strong>
        <!-- <span class="caret"></span> -->
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/urls">My URLs</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </div>
  <% } else { %>
    <a class="btn bg-primary" href="/login" style="float: right; color: whitesmoke;">Login</a>
    <a class="btn bg-primary" href="/register" style="margin-left: 10px; float: right; color: whitesmoke;">Register</a>
  <% } %>
</nav>