<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>"I wish it need not have happened in my time," said Frodo.</h1>
    <h4>
      <i>
        "So do I," said Gandalf, "and so do all who live to see such times.<br> 
        But that is not for them to decide.<br>All we have to decide is what to do 
        with the time that is given us."
      </i>
    </h4>
    <p style="margin-left: 25%; margin-top: 40px; font-family: Brush Script MT, cursive; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">
      <i>~ J.R.R. Tolkien</i>
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
