<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

</header>

<main>
  <div class="jumbotron" style="padding-top: 10px; padding-bottom: 0; display: flex;">
    <div style="padding-top: 5%;">
      <h1>Create Short URLs</h1>
      <p>Welcome to Tiny App, your favourite <strong><i>magic</i></strong> tiny url generator!</p>
    </div>
    <img style="flex-wrap: wrap;" src="/public/images/gandalf-welcome.png">
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>