<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <!-- <script type="application/javascript" src="client.js"></script> -->
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

</header>

<main>
  <div class="jumbotron">
    <h2>Sign In</h2>

    <h4 id="badLoginHeader" class="text-warning" hidden>Incorrect Login Information</h4>
    <form id="loginInput" action="/login" method="POST">
      <div>
        <div>
          <label for="usernameInput">Email</label>
          <div>
            <input type="email" id="usernameInput" name="username" placeholder="example@address.com">
          </div>
        </div>
        <div>
          <label for="passwordInput">Password</label>
          <div>
            <input type="password" id="passwordInput" name="password">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin: 15px;">Sign In</button>
    </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>